.about {

  .wrapper {
    background: $light-color;
    border-radius: 50px;
    margin-top: 1%;
  }
  .about-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2 {
      font-size: 6.0rem;
      margin: 5%;
    }
    p {
      font-size: 1.6rem;
      padding: 0 10% 5%;
      letter-spacing: 2px;
    }
  }
}

/* media breakpoints */

@media (max-width: $laptop ) {
  .wrapper {
    /* background: rebeccapurple; */
  }
  .about {
    .about-heading h2 {
      font-size: 4.5rem;
    }
    .about-heading p {
      font-size: 1.3rem;
    }
  }

}

@media (max-width: $tablet ) {
  .wrapper {
    /* background: seagreen; */
  }
  .about {
    .about-heading h2 {
      font-size: 3.5rem;
    }
    .about-heading p {
      font-size: 1.0rem;
    }
  }
}


@media (max-width: $mobile ) {
  .wrapper {
    /* background: goldenrod; */
  }
  .about {
    .about-heading h2 {
      font-size: 2.5rem;
    }
    .about-heading p {
      font-size: 0.9rem;
    }
  }

}
