.gallery {

  .wrapper {
    background: $light-color;
    border-radius: 50px;
    margin-top: 1%;
  }
  .gallery-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2 {
      font-size: 6.0rem;
      margin: 5%;
    }
  }
  .gallery-item {
    width: 32%;
    /* margin: 2% 0; */
    border-radius: 50px;
    position: relative;
    transition: all 0.8s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: $body-font;
      font-size: 2.5rem;
      padding: 4% 6%;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        color: grey;
        cursor: pointer;
      }
    }
    &:hover {
      flex-grow: 1;
    }
    &:not(:hover) {
      padding: 2%;
    }
    &:hover .overlay {
      opacity: 1;
    }
    img {
      width: 100%;
      border-radius: 50px;
    }
  }
  .main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2%;
    padding-bottom: 5%;
  }
  .overlay {
    position: absolute;
    top: 55px;
    text-align: center;
    width: 100%;
    background: rgba(247,247,247,0.8);
    opacity: 0;
    transition: all 0.7s ease;
    h3 {
      font-family: $body-font;
      font-size: 1.5rem;
      padding:  15% 0;
      margin: 5% 0;
    }
  }
  h4 {
    text-align: center;
    font-size: 1.0rem;
    margin-top: 10%;
    margin-bottom: 5%;
    cursor: pointer;
    text-shadow: 1px 1px 2px $secondary-color;
  }
  .item-description {
    opacity: 0;
    z-index: 20;
    font-family: $body-font;
    padding: 10px 20px;
    background: $primary-color;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    box-shadow: 4px 4px 5px black;
    transition: box-shadow 0.3s, backgorund 0.8s;
    &:hover {
      box-shadow: 2px 2px 3px black;
      background: darken($primary-color, 10%)
    }
  }
  .exit {
    /* text-shadow: 2px 2px 2px $secondary-color; */
  }

}
