/* fonts */
$heading-font: 'Great Vibes', cursive;
$body-font: 'Raleway', sans-serif;

/* colors */
$primary-color: #baebf4;
$secondary-color: #007bff;
$light-color:#F9FBFB;
$dark-color: #2e3030;

/* media breakpoints */
$laptop : 1000px;
$tablet : 800px;
$mobile : 480px;
$iphone: 414px;
